*{
    margin: 0;
    padding: 0;
}
nav{
   
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 75px;
    line-height: 75px;
    margin-top: 20px;
    padding: 1% 5%;
    background-color:white;
    
    
}
nav img {
   
    width: 200px;
    
    
   
}
 
    

nav ul li{
    float:left;
    list-style: none;
    position: relative;
}
nav ul li a{
    
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color:#151515;
    font-size: 17px;
    padding: 0px 16px;
    display: block;
   
}

nav ul li a:hover{
   color: #f39b00;

}

button{
    width: 180px;
    height: 44px; 
    border: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
        
        
}

button:hover{
    background-color: #f39b00;
    color: white;
}

/* ------container------- */

.container {
  width: 1519px;
  height: 700px;
  background-repeat: no-repeat;
  background-image: url(mainpic.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
  
   

}
h1{
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    
}

p{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 18px;
    color: #9b9b9b;
    
   }
   .container .child-1{
    
     display: flex;
     flex-direction: column;
     gap: 15px;

     
}
.container button{
    background-color:#f39b00;
    font-size: 13px;
    color: white;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}
.container button:hover{
    background-color: #343a40;
}



